@model TaxCalculator.ViewModels.CitizenViewModel

@{
    ViewBag.Title = "नागरिक को थप जानकारी";
}

@Html.Partial("_CitizenDetail", Model)

<p>
    @Html.ActionLink("Edit", "Edit", new { citizenID = Model.Citizen.CitizenId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
