@using ReportViewerForMvc;
@{
    ViewBag.Title = "सम्पति कर निर्धारण";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>History</h2>
<div class="container">

    @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer)

    <br />

    <a href="@Url.Action("Index", "Home")" class="btn btn-primary">
        <span class="center">Done</span>
    </a>


</div>